{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.title'|trans }} &raquo; {{ 'meta.products'|trans }}
{% endblock %}

{% block body %}
	<style>
		.wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
	</style>

	<div class="wrapper">
		<h1>{{ 'products.title'|trans }}</h1>

		{% if produits is not empty %}
			<table class="table">
				<thead>
					<tr>
						<th>{{ 'products.table.photo'|trans }}</th>
						<th>{{ 'products.table.name'|trans }}</th>
						<th>{{ 'products.table.quantity'|trans }}</th>
						<th>{{ 'products.table.price'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for produit in produits %}
						<tr>
							<td>
								{% if produit.photo is not null %}
									<img class="img-thumbnail img-responsive" width="200" height="200" src="{{ asset('images/' ~ produit.photo) }}">
								{% endif %}
							</td>
							<td>
								<a href="{{ path('view_product', {'id':produit.id}) }}">
									{{ produit.nom }}
								</a>
							</td>
							<td>{{ produit.stock }}</td>
							<td>{{ produit.prix }}€</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>{{ 'products.no_products'|trans }}</p>
		{% endif %}
			<br/>
			{% if is_granted('ROLE_ADMIN') %}
				<h2>{{ 'products.add_product'|trans }}</h2>
				{{ form(new_product_form) }}
			{% endif %}
		</div>
	{% endblock %}
