{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.product'|trans }} &raquo;
	{{ produit.nom }}
{% endblock %}

{% block body %}

<div class="mx-auto" style="width: 400px"><br>
	<div class="row">
		<div class="col-md-12">
			{% if produit.photo is not null %}
				<img class="img-thumbnail img-responsive" width="300" height="300" src="{{ asset('images/' ~ produit.photo) }}">
			{% else %}
				<p>
					<b>{{ 'product.no_photo'|trans }}</b>
				</p>
			{% endif %}
		</div><br>
		<div class="col-md-6">
			<h1>{{ produit.nom }}</h1>
			<p>{{ produit.stock }}
				{{ 'product.in_stock'|trans }}</p>
			<p>{{ produit.prix }}€</p>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('delete_product', {'id':produit.id}) }}" class="btn btn-danger">
				{{ 'product.delete_product'|trans }}
			</a>
			{% endif %}
		</div>
	</div>
	

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<h2>{{ 'product.add_to_cart'|trans({'%product%': produit.nom}) }}</h2>
		{{ form(form_add_panier) }}
	{% else %}
		<p>{{ 'product.not_connected'|trans }}</p>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}
		<h2>{{ 'product.edit_product'|trans({'%product%': produit.nom}) }}</h2>
		{{ form(form_edit_produit) }}
	{% endif %}
</div>
{% endblock %}
