{% extends 'base.html.twig' %}

{% block title %}{{ 'meta.title'|trans }} &raquo; {{ 'meta.cart'|trans }}
{% endblock %}

{% block body %}
	<style>
		.wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.wrapper .panier {
			background: #F5F5F5;
			padding: 2px 6px;
			border: solid black;
		}
	</style>

	<div class="wrapper">
		<h1>{{ 'cart.title'|trans }}</h1>
		<div class="row">
			{% if panier.contenuPaniers is not empty %}
				{# Somme d'un produit * quantité #}
				{% set prix_total_quantite = 0 %}
				{# Prix de tous les articles commandés #}
				{% set prix_total = 0 %}
			<div class="col-md-8">
				<table class="table">
					<thead>
						<tr>
							<th>{{ 'cart.table.photo'|trans }}</th>
							<th>{{ 'cart.table.name'|trans }}</th>
							<th>{{ 'cart.table.quantity'|trans }}</th>
							<th>{{ 'cart.table.unit'|trans }}</th>
							<th>{{ 'cart.table.price'|trans }}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for contenu in panier.contenuPaniers %}
							<tr>
								<td>
									{% if contenu.produit.photo is not null %}
										<img class="img-thumbnail img-responsive" width="200" height="200" src="{{ asset('images/' ~ contenu.produit.photo) }}">
									{% endif %}
								</td>
								<td>
									<a href="{{ path('view_product', {'id': contenu.produit.id}) }}">
										{{ contenu.produit.nom }}
									</a>
								</td>
								<td>{{ contenu.qte }}</td>
								<td>{{ contenu.produit.prix }}€</td>
								<td>{% set prix_total_quantite = contenu.qte * contenu.produit.prix %}
                                {{ prix_total_quantite }}€</td>
								{% set prix_total = prix_total + prix_total_quantite %}
								<td>
									<a class="btn btn-danger" href="{{ path('delete_from_panier', {'id': contenu.id}) }}">
										<i class="fa fa-close"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-md-4 panier">
					<h3>{{ 'cart.information'|trans }}</h3>
				</hr>
				<p>{{ 'cart.total_products'|trans }} :
					{{ panier.contenuPaniers|length }}
				</p>
				<p>{{ 'cart.total_amount'|trans }} :
					{{prix_total}}€
				</p>

				<button disabled class="btn btn-warning">{{ 'cart.validated_cart'|trans }}</a>
			</div>

			<p>{{ 'cart.date'|trans }} {{panier.date|date }}</p>
			
		{% else %}
			<p>{{ 'cart.no_products_in_cart'|trans }}</p>
		{% endif %}
	</div>
</div>
{% endblock %}
